<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container m-5 p-0">
      <ul class="nav">
        <li class="nav-item">
  <!--         <% link_to 'Ask a question', ask_path %> -->
          <a class="nav-link active p-0 mb-4" href="/ask">Ask a question</a>
        </li>
      </ul>
      <h1>Stupid coaching</h1>
      <%= yield %>
    </div>
  </body>
</html>
